extends layout

block content
  //h1=title
  .table-responsive
    table.table.table-striped.table-margin.table-bordered.table-hover
      thead
        tr
          th #
          th Company
          th Executivies
          th TH URL
          th Leadership URL
      tbody
        each company in company_list
          - var n = 0
          tr
            td #{n++}
            td
              a(href=company.url) #{company.title}
            td 2
            td 3
            td 4
        else
          li There are no companys.


  //ul
  //each company in company_list
  //  li
  //    a(href=company.url) #{company.title}
  //    //| (#{company.person.name})
  //
  //else
  //  li There are no companys.
