extends layout

block content

  h1 #{title}: #{company.title}
  
  p #[strong Person:] 
    //a(href=company.person.url) #{company.person.name}
  p #[strong Leadership_url:] #{company.leadership_url}
  p #[strong ISBN:] #{company.isbn}
  p #[strong Firm:] 
    each val in company.firm
      a(href=val.url) #{val.name}



  



    p Do you really want to delete this Company?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=company._id )

      button.btn.btn-primary(type='submit') Delete