extends layout

block content

  h1 #{firm.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Portfolio Companies
    
    dl
    each company in firm_companys
      dt 
        a(href=company.url) #{company.title}
      //dd #{company.summary}

    else
      p This firm has no companys.
      
  hr
  p
    //wrong way to add Company!!!! Check the ones below
    a(class='btn btn-success btn-spacing')(href=firm.url+'/create/') Add Company

    a(class='btn btn-warning btn-spacing')(href=firm.url+'/update') Update firm

    a(class='btn btn-danger')(href=firm.url+'/delete') Delete firm

