extends layout

block content
  h1 #{firm.name}

  .table-responsive
      table.table.table-striped.table-hover.table-bordered.table-margin
          thead
              tr
                  th #
                  th Company
                  th
          tbody
              - var count = 0
              each company in firm_companys
                  tr
                      td(class='count_width') #{++count}
                      td(class='main_width')
                          a(href=company.url) #{company.title}
                      td

      
  hr
  p
    //wrong way to add Company!!!! Check the ones below
    a(class='btn btn-success btn-spacing')(href='catalog/company/create/') Add Company

    a(class='btn btn-warning btn-spacing')(href=firm.url+'/update') Update firm

    a(class='btn btn-danger')(href=firm.url+'/delete') Delete firm

