doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- Navbar mixins
    mixin nav(name, id, style)
      - var style = (typeof style === 'undefined') ? "default" : style
      nav( role="navigation", class=["navbar", "navbar-" + style] )
        .navbar-header
          button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/catalog")= name

        .collapse.navbar-collapse( id=id )
          ul.nav.navbar-nav
            block

    mixin nav_item(href, active)
      li(class=active): a( href=href )
        block

    mixin nav_item_dropdown(href, active)
      li(class=["dropdown", active])
        a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
        //span.caret
        ul.dropdown-menu( role="menu" )
          block

    mixin nav_divider
      li.divider

    mixin nav_header
      li.dropdown-header
        block

    //- End navbar mixins


    +nav("TitanHub", "dropdown_menu")
      //+nav_item( "index.html", "active" ) Acasa
      +nav_item( "/catalog/companys" ) Companies
      +nav_item( "/catalog/persons" ) Executives
      +nav_item( "/catalog/firms" ) Firms
      +nav_item_dropdown( "#" )( label="Add+")
        +nav_item( "/catalog/person/create" ) New Executive
        +nav_item( "/catalog/firm/create" ) New Firm
        +nav_item( "/catalog/company/create" ) New Company
        //- +nav_divider
        //- +nav_header Nav header
        //- +nav_item( "#" ) Separated link
        //- +nav_item( "#" ) One more separated link
    div(class='container')
      div(class='row')
        //div(class='col-sm-2')
          //block sidebar
            //ul(class='sidebar-nav')
            //  li
            //    a(href='/catalog') Home
            //  li
            //    a(href='/catalog/companys') All companys
            //  li
            //    a(href='/catalog/persons') All persons
            //  li
            //    a(href='/catalog/firms') All firms
            //  li
            //    a(href='/catalog/companyinstances') All company-instances
            //  li
            //    hr
            //  li
            //    a(href='/catalog/person/create') Create new person
            //  li
            //    a(href='/catalog/firm/create') Create new firm
            //  li
            //    a(href='/catalog/company/create') Create new company
            //  li
            //    a(href='/catalog/companyinstance/create') Create new company instance (copy)

        div(class='col-sm-10')

          block content
