extends layout

block content

  h1 #{person.full_name}
  p #{person.lifespan}
  
  div(style='margin-left:20px;margin-top:20px')

    //h4 Companys
    
    dl
    each company in person_companys
      dt 
        a(href=company.url) #{company.title}
      dd #{company.summary}

    else
      //p This person has no companys.
      
  hr
  p
    // wrong way to add per
    //a(class='btn btn-success btn-spacing')(href=person.url + '/update') Update person

    a(class='btn btn-warning btn-spacing')(href=person.url + '/update') Update person

    a(class='btn btn-danger btn-spacing')(href=person.url+'/delete') Delete person

