extends layout

block content
  //h1= title
  .table-responsive
    table.table.table-striped.table-bordered.table-hover.table-margin
      thead
        tr
          th #
          th Executive Name
          //th Company
          //th Linkedin URL
          //th Leadership URL
      tbody
        - var count = 0
        each person in person_list
          tr
            td #{++count}
            td
              a(href=person.url) #{person.full_name}
        else
            td There are no Executives

  //ul
  //each person in person_list
  //  li
  //    a(href=person.url) #{person.name}
  //    //| (#{person.lifespan})
  //
  //else
  //  li There are no persons.
